
.page-turn-stage {
  position: fixed;
  inset: 0;
  perspective: 2000px;
  z-index: 9999;
  overflow: hidden;
}

.page {
  position: absolute;
  inset: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.page.back {
  transform: rotateY(0deg);
  z-index: 1;
}

.page.front {
  transform-origin: right center;
  z-index: 2;
}

.page.front.turn {
  animation: pageFlip 0.9s cubic-bezier(0.77,0,0.18,1) forwards;
}

@keyframes pageFlip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-180deg); }
}


.loader {
  width: 200px;
  height: 200px;
  position: relative;
}


.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/loading.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: zoomFade 2.2s cubic-bezier(0.4,0,0.2,1) infinite;
}

@keyframes zoomFade {

  0% {
    transform: scale(0.9);
    opacity: 0.45; 
  }

  40% {
    transform: scale(1.25);
    opacity: 1;
  }

  60% {
    transform: scale(1.25);
    opacity: 1; 
  }

  100% {
    transform: scale(0.9);
    opacity: 0.45;
  }

}