.page-turn-stage {
  position: fixed;
  inset: 0;
  perspective: 2000px;
  z-index: 9999;
  overflow: hidden;
}

.page {
  position: absolute;
  inset: 0;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.page.back {
  transform: rotateY(0deg);
  z-index: 1;
}

.page.front {
  transform-origin: right center;
  z-index: 2;
}

.page.front.turn {
  animation: pageFlip 0.9s cubic-bezier(0.77,0,0.18,1) forwards;
}

@keyframes pageFlip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-180deg); }
}



.loader {
  width: 140px;
  height: 140px;
  position: relative;

  animation: loaderSpin 8s linear infinite;
}


.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
}



.loader::before {
  background:
    repeating-conic-gradient(
      from 0deg,
      #000000 0deg 8deg,
      transparent 8deg 15deg
    );

  mask:
    radial-gradient(
      farthest-side,
      transparent 70%,
      black 71%
    );
}



.loader::after {
  background:
    repeating-conic-gradient(
      from 0deg,
      rgba(0,0,0,0.8) 0deg 8deg,
      transparent 8deg 15deg
    );

  filter: blur(2px);

  mask:
    radial-gradient(
      farthest-side,
      transparent 70%,
      black 71%
    );

  animation: rotateLoader 3s steps(24) infinite;
}



@keyframes loaderSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@keyframes rotateLoader {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}